extends layout

block content
  h1(style="padding-top:50px;") What is The Pittsburgh Promise?
  div
    div
      div
        p The Pittsburgh Promise is essentially three promises in one. We promise the following to those who live in the City of Pittsburgh and attend Pittsburgh Public Schools:
      div
        p 1. We will provide you with up to $40,000 as a scholarship to pursue undergraduate higher education.
      div
        p 2. We will reform our urban public schools so that we are preparing you well for success in higher education.
      div
        p 3. We will develop our urban neighborhoods so that where you live and go to school is a place that is conducive to learning.
      div
        p Beyond that, The Promise invigorates the entire community, improves the quality of life in the region, and creates a highly qualified workforce that will meet the needs of local employers, both now and in the future.