extends layout

block content
  link(rel='stylesheet', type='text/css', href='/css/calculator.css')

  #calculator

    h1
      div= title

    #prose

      | We'll pay for a percentage of qualifying expenses (less student aid)
      | each year for four years of college, based on how long you went to
      | Pittsburgh public schools:

      table
        tr
          td Since Kindergarten
          td.perc 100%
        tr
          td Since 1st, 2nd, 3rd, 4th, or 5th Grade
          td.perc 95%
        tr
          td Since 6th, 7th, or 8th Grade
          td.perc 85%
        tr
          td Since 9th Grade
          td.perc 75%
        tr
          td Since 10th, 11th, or 12th Grade
          td.perc 0%

      | For students graduating from high school in 2013, the maximum yearly
      | gift while in college is $20,000. The minimum gift is $1,000.


    .clear

    #years-in-pps
      h3
        div Years in Pittsburgh Public Schools

      label(for="years") I've been in Pittsburgh public schools since 
      select(name="years")#years
        option(value="1", selected=true) Kindergarten
        option(value="0.95") 1st Grade
        option(value="0.95") 2nd Grade
        option(value="0.95") 3rd Grade
        option(value="0.95") 4th Grade
        option(value="0.95") 5th Grade
        option(value="0.85") 6th Grade
        option(value="0.85") 7th Grade
        option(value="0.85") 8th Grade
        option(value="0.75") 9th Grade
        option(value="0") 10th Grade
        option(value="0") 11th Grade
        option(value="0") 12th Grade
      .

    #actual
      h3
        div Yearly College Expenses
      .control-group
        label(for="tuition") Tuition and Fees
        input(type="text", name="tuition", value=0)#tuition
      .control-group
        label(for="board") Room and Board
        input(type="text", name="board", value=0)#board
      .control-group
        label(for="books") Books
        input(type="text", name="books", value=0)#books
      .control-group
        label Total Cost
        span#total

      h3
        div Yearly Student Aid
      .control-group
        label(for="government") Government Aid
        input(type="text", name="government", value=0)#government
      .control-group
        label(for="institutional") Institutional Aid
        input(type="text", name="institutional", value=0)#institutional
      .control-group
        label(for="scholarship") Scholarships
        input(type="text", name="scholarship", value=0)#scholarship
      .control-group
        label Unmet Need 
        span#total

      h3
        div Yearly Award
      .control-group
        label Promise Pays
        span#give
      .control-group
        label You Owe
        span#owe
      button#submit Calculate

    #examples
      h5 Examples
      #community-college.example
        h4
          div Community College

        .eg
          | 4,000
        .eg
          | -
        .eg
          | 1,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000


      #state-school.example
        h4
          div State School

        .eg
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

      #private-college.example.last
        h4
          div Private College

        .eg
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

        .eg.leader
          | 10,000
        .eg
          | 10,000
        .eg
          | 10,000

      .clear

    .clear

  script(src="/js/validate.js").
