extends layout

block content
  h1= title
  form(method="POST", action="/calculate/#{studentId}")
    label(for="years") Years In Pittsburgh Public Schools      
    select(name="years").years
      option(value="0") 10th - 12th Grade
      option(value="1") 9th Grade
      option(value="2") 6th - 8th Grade
      option(value="3") 1st - 5th Grade
      option(value="4", selected=true) Kindergarden
    h3 Expenses
    div.control-group
      label(for="tuition") Tuition and Fees
      input(type="text", name="tuition", value=0)#tuition
    div.control-group
      label(for="board") Room and Board
      input(type="text", name="board", value=0)#board      
    div.control-group
      label(for="books") Books
      input(type="text", name="books", value=0)#books
    h3 Student Aid
    div.control-group
      label(for="government") Government
      input(type="text", name="government", value=0)#government
    div.control-group
      label(for="institutional") Institutional Aid
      input(type="text", name="institutional", value=0)#institutional
    div.control-group
      label(for="scholarship") Scholarships
      input(type="text", name="scholarship", value=0)#scholarship        
    div.control-group
      input(type="submit", value="Calculate")#submit.btn
    script(src="/js/validate.js")