extends layout

block head
  link(rel='stylesheet', type='text/css', href='muse/css/eligibility.css')

block content
  #u580.museBGSize.browser_width.colelem
    // group
    #u580_align_to_page.clearfix
      #u581-4.clearfix.grpelem
        // content
        p Are you eligible?
  #u720.browser_width.colelem
    // column
    #u720_align_to_page.clearfix
      #u730-5.clearfix.colelem
        // content
        p#u730-3
          span $7,500 
          span#u730-2 x 4 weeks
      #pu744-4.clearfix.colelem
        // group
        #u744-4.clearfix.grpelem
          // content
          p GPA
        #u740-4.clearfix.grpelem
          // content
          p
            span#u740 2.4
        #u737-4.clearfix.grpelem
          // content
          p
            span#u737 2.5
        #u741-4.clearfix.grpelem
          // content
          p
            span#u741 2.7
        #u745-4.clearfix.grpelem
          // content
          p next year
      #pu743-4.clearfix.colelem
        // group
        #u743-4.clearfix.grpelem
          // content
          p Absences
        #u739-4.clearfix.grpelem
          // content
          p
            span#u739 15
        #u738-4.clearfix.grpelem
          // content
          p
            span#u738 72
        #u742-4.clearfix.grpelem
          // content
          p
            span#u742 57
        #u746-4.clearfix.grpelem
          // content
          p left over
      #pu733-4.clearfix.colelem
        // group
        #u733-4.clearfix.grpelem
          // content
          p ACTUAL
        #u731-4.clearfix.grpelem
          // content
          p TARGET
        #u734-4.clearfix.grpelem
          // content
          p GOAL
  a#u718.nonblock.nontext.anim_swing.colelem(href='eligibility.html#eligibility')
    // image
    img#u718_img.block(src='/muse/images/down_arrow.png', alt='', width='51', height='26')
  a#eligibility.anchor_item.colelem
  #u594-4.clearfix.colelem
    // content
    p Eligibility Criteria
  #u595-4.clearfix.colelem
    // content
    p
      | The Pittsburgh Promise is available to all graduates of the Pittsburgh Public Schools and PPS approved charters, regardless of financial need or income. To be eligible students must meet the following criteria:
  #pu596-4.clearfix.colelem
    // group
    #u596-4.clearfix.grpelem
      // content
      p ✔
    #u599-4.clearfix.grpelem
      // content
      p Graduate from the Pittsburgh Public Schools or one of its charter high schools
  #pu597-4.clearfix.colelem
    // group
    #u597-4.clearfix.grpelem
      // content
      p ✔
    #u600-4.clearfix.grpelem
      // content
      p
        | Be a student in the district and a resident of Pittsburgh continuously since at least the 9th grade
  #pu598-4.clearfix.colelem
    // group
    #u598-4.clearfix.grpelem
      // content
      p ✔
    #u601-4.clearfix.grpelem
      // content
      p Earn a minimum of a 2.5 GPA & Maintain a minimum attendance record of 90%
  #pu603-4.clearfix.colelem
    // group
    #u603-4.clearfix.grpelem
      // content
      p ✔
    #u602-4.clearfix.grpelem
      // content
      p
        | Earn admission to any accredited public or private post-secondary school located in Pennsylvania
  #u607.browser_width.colelem
    // column
    #u607_align_to_page.clearfix
      #u617-4.clearfix.colelem
        // content
        p Scholarship Throughout College
      #u610-4.clearfix.colelem
        // content
        p
          | How Do I Maintain My Scholarship Throughout College? For a student to continue to receive their Promise scholarship they must do the following:
      #pu611-4.clearfix.colelem
        // group
        #u611-4.clearfix.grpelem
          // content
          p ✔
        #u615-4.clearfix.grpelem
          // content
          p Complete a full-time course load
      #pu612-4.clearfix.colelem
        // group
        #u612-4.clearfix.grpelem
          // content
          p ✔
        #u616-4.clearfix.grpelem
          // content
          p Maintain a 2.5 GPA
      #pu613-4.clearfix.colelem
        // group
        #u613-4.clearfix.grpelem
          // content
          p ✔
        #u609-4.clearfix.grpelem
          // content
          p Submit grades each year to The Pittsburgh Promise
      #pu614-4.clearfix.colelem
        // group
        #u614-4.clearfix.grpelem
          // content
          p ✔
        #u608-7.ts-Default-Link-Style--copy.clearfix.grpelem
          // content
          p
            | Complete and submit a&nbsp;
            a.nonblock(href='http://www.fafsa.ed.gov/', target='_blank') FAFSA application&nbsp;
            | every year while attending college
  