extends layout

block content
  #u102.museBGSize.browser_width.colelem
    // group
    #u102_align_to_page.clearfix
      #u316-4.clearfix.grpelem
        // content
        p Earn $40,000 for college
  #u83.browser_width.colelem
    // group
    #u83_align_to_page.clearfix
      #pu317.clearfix.grpelem
        // column
        #u317.colelem
          // image
          img#u317_img.block(src='muse/images/pasted%20image%20459x429.jpg', alt='', width='100', height='100')
        #u341.colelem
          // image
          img#u341_img.block(src='muse/images/pasted%20image%20459x4292.jpg', alt='', width='100', height='100')
        #u359.colelem
          // image
          img#u359_img.block(src='muse/images/pasted%20image%20429x459.jpg', alt='', width='100', height='100')
      #pu334.clearfix.grpelem
        // column
        #u334.colelem
          // image
          img#u334_img.block(src='muse/images/pasted%20image%20429x4592.jpg', alt='', width='100', height='100')
        #u347.colelem
          // image
          img#u347_img.block(src='muse/images/pasted%20image%20429x4593.jpg', alt='', width='100', height='100')
        #u365.colelem
          // image
          img#u365_img.block(src='muse/images/pasted%20image%20459x4293.jpg', alt='', width='100', height='100')
      #pu335.clearfix.grpelem
        // column
        #u335.colelem
          // image
          img#u335_img.block(src='muse/images/pasted%20image%20429x4594.jpg', alt='', width='100', height='100')
        #u353.colelem
          // image
          img#u353_img.block(src='muse/images/pasted%20image%20459x4294.jpg', alt='', width='100', height='100')
        #u371.colelem
          // image
          img#u371_img.block(src='muse/images/pasted%20image%20429x4595.jpg', alt='', width='100', height='100')
      #pu91-4.clearfix.grpelem
        // column
        #u91-4.clearfix.colelem
          // content
          p
            | We seek to replace the deadly culture of low expectations that often permeates urban public schools with the belief that inside every child is a promise, and with the appropriate care, effort, and needed resources, that promise will undoubtedly be fulfilled.
        #u93-7.clearfix.colelem
          // content
          p#u93-2 SALEEM GHUBRIL
          p#u93-4 EXECUTIVE DIRECTOR, THE PITTSBURGH PROMISE
          p  
  a#u380.nonblock.nontext.anim_swing.colelem(href='#about')
    // image
    img#u380_img.block(src='muse/images/down_arrow.png', alt='', width='51', height='26')
  a#about.anchor_item.colelem
  #u378-4.clearfix.colelem
    // content
    p What is the Pittsburgh Promise?
  #u387-4.clearfix.colelem
    // content
    p
      | The Pittsburgh Promise is essentially three promises in one. We promise the following to those who live in the City of Pittsburgh and attend Pittsburgh Public Schools:
  #pu388-4.clearfix.colelem
    // group
    #u388-4.clearfix.grpelem
      // content
      p 1
    #u389-6.clearfix.grpelem
      // content
      p
        | We will provide you with up to&nbsp;
        span#u389-2 $40,000
        | &nbsp;as a scholarship to pursue undergraduate higher education.
  #pu391-4.clearfix.colelem
    // group
    #u391-4.clearfix.grpelem
      // content
      p 2
    #u390-4.clearfix.grpelem
      // content
      p
        | We will reform our urban public schools so that we are preparing you well for success in higher education.
  #pu393-4.clearfix.colelem
    // group
    #u393-4.clearfix.grpelem
      // content
      p 3
    #u392-4.clearfix.grpelem
      // content
      p
        | We will develop our urban neighborhoods so that where you live and go to school is a place that is conducive to learning.
  #pu399.clearfix.colelem
    // group
    #u399.browser_width.grpelem
      // group
      #u399_align_to_page.clearfix
        #u400-4.clearfix.grpelem
          // content
          p
            | ...The impact of The Pittsburgh Promise reaches far beyond that. The Promise is the organizing principle around which our school reform agenda is built. And, if we get urban public education right, our entire region will benefit. If we don’t, we will all suffer the consequences.
        #pu414.clearfix.grpelem
          // column
          #u414.clearfix.colelem
            // image
            #u414_clip
              img#u414_img.position_content(src='muse/images/pasted%20image%20429x373.jpg', alt='', width='100', height='120')
          #u432.clearfix.colelem
            // image
            #u432_clip
              img#u432_img.position_content(src='muse/images/pasted%20image%20429x3732.jpg', alt='', width='100', height='110')
          #u450.clearfix.colelem
            // image
            #u450_clip
              img#u450_img.position_content(src='muse/images/pasted%20image%20429x3733.jpg', alt='', width='100', height='110')
        #pu420.clearfix.grpelem
          // column
          #u420.clearfix.colelem
            // image
            #u420_clip
              img#u420_img.position_content(src='muse/images/pasted%20image%20373x429.jpg', alt='', width='100', height='115')
          #u438.clearfix.colelem
            // image
            #u438_clip
              img#u438_img.position_content(src='muse/images/pasted%20image%20429x3734.jpg', alt='', width='100', height='110')
          #u456.clearfix.colelem
            // image
            #u456_clip
              img#u456_img.position_content(src='muse/images/pasted%20image%20373x4292.jpg', alt='', width='100', height='110')
        #pu426.clearfix.grpelem
          // column
          #u426.clearfix.colelem
            // image
            #u426_clip
              img#u426_img.position_content(src='muse/images/pasted%20image%20429x3735.jpg', alt='', width='100', height='110')
          #u444.clearfix.colelem
            // image
            #u444_clip
              img#u444_img.position_content(src='muse/images/pasted%20image%20429x3736.jpg', alt='', width='100', height='110')
          #u462.clearfix.colelem
            // image
            #u462_clip
              img#u462_img.position_content(src='muse/images/pasted%20image%20373x4293.jpg', alt='', width='100', height='115')
    #u401-6.clearfix.grpelem
      // content
      p#u401-2 MARTY MCGUINN
      p#u401-4 RETIRED CHAIRMAN AND CEO, MELLON FINANCIAL SERVICES