doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  body
    .navbar
      .navbar-inner
        a.brand(href="#") Pgh Promise
        ul.nav
          li.active
            a(href="/about") About
          li
            a(href="/eligibility") Eligibility
          li
            a(href="/calculator") Calculator
          li
            a(href="/apply") Apply
          li
            a(href="/admin") Admin
    block content
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")