extends layout

block content
  h1(style="padding-top:50px;") Subscribe For Notifications
  form(action="/subscribe", method="POST")
    .control-group
      input(name="phoneNumber", type="text")#phoneNumber
      input(type="submit", value="Subscribe").btn