html
{
	background-color: #FFF2DF;
}

#page
{
	z-index: 1;
	width: 960px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u69
{
	z-index: 2;
	width: 1160px;
	margin-right: -10000px;
}

#u73
{
	z-index: 183;
	width: 298px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 105px;
}

#u73_img
{
	padding-right: 1px;
}

#menuu115
{
	z-index: 185;
	width: 82px;
	margin-right: -10000px;
	left: 635px;
}

#u183
{
	width: 82px;
	min-height: 50px;
	margin-right: -10000px;
}

#u184
{
	width: 82px;
	padding-bottom: 33px;
}

#u184:hover
{
	margin: 0px;
}

#u184:active
{
	margin: 0px;
}

#u186-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u184:hover #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u184:active #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu216
{
	z-index: 213;
	width: 113px;
	margin-right: -10000px;
	left: 815px;
}

#u217
{
	width: 113px;
	min-height: 50px;
	margin-right: -10000px;
}

#u220
{
	width: 113px;
	padding-bottom: 33px;
}

#u184.MuseMenuActive,#u220:hover
{
	margin: 0px;
}

#u220:active
{
	margin: 0px;
}

#u222-4
{
	width: 113px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u184.MuseMenuActive #u186-4,#u220:hover #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u220:active #u222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu264
{
	z-index: 192;
	width: 66px;
	margin-right: -10000px;
	left: 928px;
}

#u282
{
	width: 66px;
	padding-bottom: 33px;
}

#u220.MuseMenuActive,#u282:hover
{
	margin: 0px;
}

#u282:active
{
	margin: 0px;
}

#u283-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u220.MuseMenuActive #u222-4,#u282:hover #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u282:active #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu288
{
	z-index: 199;
	width: 96px;
	margin-right: -10000px;
	left: 994px;
}

#u281,#u305
{
	width: 96px;
	min-height: 50px;
	margin-right: -10000px;
}

#u306
{
	width: 86px;
	padding-left: 5px;
	padding-bottom: 33px;
}

#u282.MuseMenuActive,#u306:hover
{
	margin: 0px;
}

#u306:active
{
	margin: 0px;
}

#u307-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u282.MuseMenuActive #u283-4,#u306:hover #u307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u306:active #u307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu192
{
	z-index: 206;
	width: 98px;
	margin-right: -10000px;
	left: 717px;
}

#u209
{
	width: 98px;
	min-height: 50px;
	margin-right: -10000px;
}

#u210
{
	width: 98px;
	padding-bottom: 33px;
}

#u306.MuseMenuActive,#u210:hover
{
	margin: 0px;
}

#u210:active
{
	margin: 0px;
}

#u210.MuseMenuActive
{
	margin: 0px;
}

#u211-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u306.MuseMenuActive #u307-4,#u210:hover #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210:active #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u580
{
	z-index: 4;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 90px;
	position: relative;
	left: -100px;
	background: #FFFFFF url("../images/eligibility.jpg") no-repeat left top;
	background-size: cover !important;
}

#u581-4
{
	z-index: 5;
	width: 960px;
	min-height: 75px;
	text-align: center;
	color: #FFFFFF;
	font-size: 60px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 100px;
}

#u720
{
	z-index: 124;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	position: relative;
	left: -100px;
}

#u720_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 51px;
	padding-bottom: 65px;
}

#u730-5
{
	z-index: 126;
	width: 577px;
	min-height: 121px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 291px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u730-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u730-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u730-2
{
	font-size: 36px;
}

#pu744-4
{
	width: 0.01px;
	left: 155px;
	margin-top: 40px;
	position: relative;
}

#u744-4
{
	z-index: 147;
	width: 107px;
	min-height: 23px;
	text-align: right;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u740-4
{
	z-index: 163;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u737-4
{
	z-index: 159;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u741-4
{
	z-index: 167;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 577px;
}

#u745-4
{
	z-index: 151;
	width: 107px;
	min-height: 23px;
	text-align: left;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 745px;
}

#pu743-4
{
	width: 0.01px;
	left: 155px;
	margin-top: 31px;
	position: relative;
}

#u743-4
{
	z-index: 139;
	width: 107px;
	min-height: 23px;
	text-align: right;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u739-4
{
	z-index: 175;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u738-4
{
	z-index: 171;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u742-4
{
	z-index: 179;
	width: 167px;
	min-height: 97px;
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 577px;
}

#u740,#u737,#u741,#u739,#u738,#u742
{
	color: #FFFFFF;
}

#u746-4
{
	z-index: 143;
	width: 107px;
	min-height: 23px;
	text-align: left;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 745px;
}

#pu733-4
{
	width: 0.01px;
	left: 292px;
	margin-top: 30px;
	position: relative;
}

#u733-4
{
	z-index: 135;
	width: 107px;
	min-height: 23px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u731-4
{
	z-index: 131;
	width: 107px;
	min-height: 23px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u734-4
{
	z-index: 155;
	width: 107px;
	min-height: 23px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u718
{
	z-index: 122;
	width: 51px;
	margin-left: 455px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#eligibility
{
	left: -1px;
	margin-top: 36px;
	position: relative;
}

#u594-4
{
	z-index: 9;
	width: 492px;
	min-height: 43px;
	color: #29ABE2;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u595-4
{
	z-index: 13;
	width: 506px;
	min-height: 59px;
	color: #29ABE2;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#pu596-4
{
	width: 0.01px;
	margin-left: 258px;
	margin-top: 22px;
	position: relative;
}

#u596-4
{
	z-index: 17;
	width: 50px;
	min-height: 59px;
	color: #F7931E;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u599-4
{
	z-index: 33;
	width: 647px;
	min-height: 88px;
	color: #F7931E;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#pu597-4
{
	width: 0.01px;
	margin-left: 258px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u597-4
{
	z-index: 21;
	width: 50px;
	min-height: 59px;
	color: #F7931E;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u600-4
{
	z-index: 37;
	width: 647px;
	min-height: 88px;
	color: #F7931E;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#u598-4
{
	z-index: 25;
	width: 50px;
	min-height: 59px;
	color: #F7931E;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u601-4
{
	z-index: 41;
	width: 647px;
	min-height: 88px;
	color: #F7931E;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#pu598-4,#pu603-4
{
	width: 0.01px;
	margin-left: 258px;
	position: relative;
}

#u603-4
{
	z-index: 29;
	width: 50px;
	min-height: 59px;
	color: #F7931E;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u602-4
{
	z-index: 45;
	width: 647px;
	min-height: 88px;
	color: #F7931E;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#u607
{
	z-index: 49;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	margin-top: 13px;
}

#u607_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 45px;
	padding-bottom: 42px;
}

#u617-4
{
	z-index: 50;
	width: 492px;
	min-height: 43px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	left: 100px;
	position: relative;
}

#u610-4
{
	z-index: 54;
	width: 506px;
	min-height: 59px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	left: 100px;
	margin-top: 9px;
	position: relative;
}

#pu611-4
{
	width: 0.01px;
	left: 358px;
	margin-top: 22px;
	position: relative;
}

#u611-4
{
	z-index: 58;
	width: 50px;
	min-height: 59px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u615-4
{
	z-index: 74;
	width: 647px;
	min-height: 36px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#u612-4
{
	z-index: 62;
	width: 50px;
	min-height: 59px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u616-4
{
	z-index: 78;
	width: 647px;
	min-height: 36px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#u613-4
{
	z-index: 66;
	width: 50px;
	min-height: 59px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u609-4
{
	z-index: 82;
	width: 647px;
	min-height: 36px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#pu612-4,#pu613-4,#pu614-4
{
	width: 0.01px;
	left: 358px;
	margin-top: 21px;
	position: relative;
}

#u614-4
{
	z-index: 70;
	width: 50px;
	min-height: 59px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u608-7
{
	z-index: 86;
	width: 647px;
	min-height: 88px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#pu621
{
	width: 0.01px;
	left: -100px;
	margin-top: 3px;
	position: relative;
}

#u621
{
	z-index: 93;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	padding-bottom: 200px;
	position: relative;
	margin-right: -10000px;
}

#u580_align_to_page,#u621_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#menuu670
{
	z-index: 108;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u687
{
	width: 98px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u688
{
	width: 98px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 33px;
	position: relative;
}

#u691-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 0px;
}

#u210.MuseMenuActive #u211-4,#u688:hover #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u688:active #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u688:hover #u691-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u688:active #u691-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu694
{
	z-index: 115;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u711
{
	width: 113px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u712
{
	width: 113px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 33px;
	position: relative;
}

#u688.MuseMenuActive,#u712:hover
{
	background-color: #FBB03B;
	margin: 0px;
}

#u712:active
{
	background-color: transparent;
	margin: 0px;
}

#u714-4
{
	width: 113px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 16px;
}

#u712:hover #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u712:active #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u688.MuseMenuActive #u691-4 p,#u712:hover #u714-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u712:active #u714-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#menuu622
{
	z-index: 94;
	width: 66px;
	position: relative;
	margin-right: -10000px;
	left: 615px;
}

#u639
{
	width: 66px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u640
{
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 33px;
	position: relative;
}

#u712.MuseMenuActive,#u640:hover
{
	background-color: #FBB03B;
	margin: 0px;
}

#u640:active
{
	background-color: transparent;
	margin: 0px;
}

#u641-4
{
	width: 66px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 16px;
}

#u640:hover #u641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u640:active #u641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u712.MuseMenuActive #u714-4 p,#u640:hover #u641-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u640:active #u641-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#menuu646
{
	z-index: 101;
	width: 76px;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#u647
{
	width: 76px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u648
{
	width: 76px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 33px;
	position: relative;
}

#u640.MuseMenuActive,#u648:hover
{
	background-color: #FBB03B;
	margin: 0px;
}

#u648:active
{
	background-color: transparent;
	margin: 0px;
}

#u648.MuseMenuActive
{
	background-color: #FBB03B;
	margin: 0px;
}

#u649-4
{
	width: 76px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 16px;
}

#u648:hover #u649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u648:active #u649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u688.MuseMenuActive #u691-4,#u712.MuseMenuActive #u714-4,#u640.MuseMenuActive #u641-4,#u648.MuseMenuActive #u649-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u640.MuseMenuActive #u641-4 p,#u648:hover #u649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u648:active #u649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u648.MuseMenuActive #u649-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu69,#pu472
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u472
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
}

#u69_align_to_page,#u472_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u474-4
{
	z-index: 220;
	width: 223px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 100px;
}

#u475-4
{
	z-index: 224;
	width: 793px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 267px;
}

#page .verticalspacer
{
	clear: both;
}

