#u186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u283-4
{
	font-family: open-sans-n4, sans-serif;
}

#u307-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u474-4
{
	font-family: open-sans-n7, sans-serif;
}

#u316-4
{
	font-family: open-sans-n3, sans-serif;
}

#u387-4,#u389-6,#u390-4,#u392-4
{
	font-family: open-sans-n6, sans-serif;
}

#u93-4,#u401-4
{
	font-family: open-sans-n4, sans-serif;
}

#u93-2,#u378-4,#u388-4,#u389-2,#u391-4,#u393-4,#u401-2,#u529-4
{
	font-family: open-sans-n7, sans-serif;
}

#u553-4
{
	font-family: open-sans-n7, sans-serif;
}

#u483-4
{
	font-family: open-sans-n7, sans-serif;
}

#u521-4
{
	font-family: open-sans-n7, sans-serif;
}

