#u186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u283-4
{
	font-family: open-sans-n4, sans-serif;
}

#u307-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u474-4
{
	font-family: open-sans-n7, sans-serif;
}

